body, html {
    height: 100%;
}

.body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#dropdown-menu, .navigation > div > label {
    display: none;
}

.nav {
    font-size: 20px;
}

.nav > li:first-child {
    padding-left: 3em;
}

.jumbotron {
    margin-bottom: 2em;
}

.content {
    height: calc(100% - 8vh);
    overflow: auto;
}

.content-body {
    display: flex;
    flex-direction: row;
    padding: 1em 5em 1em 5em;
}

.content-body.regex {
    display: flex;
    flex-direction: row-reverse;
    padding: 1em 1em 1em 5em;
}

.list-group {
    width: 100%;
}

.list-group.regex {
    width: 65%;
}

.regex-tester {
    width: 35%;
    display: block;
    flex-flow: column wrap;
    padding-left: 1em;
}

.regex-tester > h3 {
    margin-top: 10px;
}

.regex-tester-content {
    display: inline-block;
    width: 70%;
}

.regex-tester-content > input {
    padding: 0 0.5em;
}

.regex-tester-content * {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 2.5em;
    margin-bottom: 0.25em;
}

#output {
    width: calc(30% - 1.5em);
    padding-left: 0.5em;
    height: 100%;
    font-size: 20px;
    vertical-align: top;
    text-align: left;
    display: inline-block;
    word-break: break-word;
}

.list-unstyled > li {
    padding: 0.25em 0.5em;
}

.list-unstyled > li > button {
    -webkit-filter: brightness(100%);
}

.list-unstyled > li > button:hover {
    -webkit-filter: brightness(70%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

header > div {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.code-name {
    background: none;
    color: #7e7e7e;
    border: none;
    padding: 0.5em;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    width: 100%;
    text-align: left;
    font-size: 20px;
    transition: 0.5s;
}

.collapsed {
    color: inherit;
}

.content > ul > li > div {
    padding-top: 1em;
    transition: 0.5s;
}

.content > ul > li > div > ul {
    padding-bottom: 0.5em;
}

.code em {
    color: #4e807d;
    font-style: normal;
}

.code {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

pre {
    margin: 2vh 0;
}

footer {
    border-top: 1px solid #ddd;
    padding: 2em 3em;
    position: fixed;
    bottom:0;
    width:100%;
    height: 8vh;
    background-color: white;
    margin-bottom: 0.5em;
}

footer * {
    margin: 0;
    float: left;
}

footer ul {
    transform: translateY(-0.75em);
}

footer h3 {
    display: inline-block;
    margin: 0 0.5em;
}

.list-group {
    padding-bottom: 1.5em;
}

.list-unstyled > li > button, .btn {
    display: block;
}

.list-unstyled > li > #so-icon, .list-unstyled > li > #git-icon {
    display: none;
}

.menu {
    height: 30px;
    width: 30px;
    display: none;
}

@media (max-width: 1250px) {
    .content-body.regex {
        flex-direction: column;
        padding: 1em 5em;
    }

    .list-group.regex {
        width: 100%;
    }

    .regex-tester {
        width: 100%;
        padding-bottom: 1em;
    }

    .regex-tester-content {
        width: 80%
    }

    .regex-tester-content * {
        display: inline-block;
        float: left;
        width: calc(25% - 0.5em);
        margin: 0 0.5em 1em 0;
        font-size: 15px;
    }

    #output {
        display: inline-block;
        float: right;
        text-align: left;
        width: calc(20% - 0.5em);
    }
}

@media (max-width: 767px) {

    .regex-tester-content, .regex-tester-content *, #output {
        float: left;
        display: block;
        width: 100%;
    }

    .regex-tester {
        padding: 0 0 1em 0;
    }
}

@media (max-width: 540px) {

    .dropdown-menu-title > label {
        cursor: pointer;
    }

    .navigation > div > label {
        display: inline-block;
        padding: 5px 20px 10px;
        font-size: 25px;
        width: 100%;
        position: relative;
    }

    .dropdown-menu-title {
        padding: 0 1em 0 0;
    }

    .hamburger-box {
        position: absolute;
        display: inline-block;
        width: 40px;
        height: 30px;
        right: 10px;
    }

    :after, :before {
        box-sizing: inherit;
    }

    .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
        position: absolute;
        width: 30px;
        height: 4px;
        transition-timing-function: ease;
        transition-duration: .15s;
        transition-property: transform;
        border-radius: 4px;
        background-color: #222222;
        transition: bottom .08s ease-out 0s,top .08s ease-out 0s,opacity 0s linear;
    }
    .hamburger-inner {
        top: 50%;
        display: block;
        margin-top: -2px;
    }
    .hamburger-inner:before {
        top: -10px;
    }
    .hamburger-inner:after {
        bottom: -10px;
    }
    .hamburger-inner:after, .hamburger-inner:before {
        display: block;
        content: "";
    }

    .is-active > .hamburger-inner {
        background-color: white;
    }

    .is-active > .hamburger-inner:before {
        display: block;
        top: 50%;
        transform: rotate(45deg);
    }

    .is-active > .hamburger-inner:after {
        display: block;
        top: 50%;
        transform: rotate(-45deg);
    }

    li.active > a {
        border: none !important;
    }

    #dropdown-menu:checked ~ ul {
        max-height: 300px;
    }

    #dropdown-menu ~ ul {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    .nav > li {
        float: none;
    }

    .nav > li + li {
        margin-top: 2px;
        margin-left: 0
    }

    .nav > li:first-child {
        padding-left: 0;
    }

    .nav > li > a {
        margin-right: 0;
        border-radius: 0;
        border-right: 0 solid transparent;
        border-left: 0 solid transparent;
    }

    .content-body, .content-body.regex {
        padding: 0;
    }

    .content-body > h2, .content-body.regex > h2 {
        font-size: 22px;
        padding: 0 0.5em;
    }

    .content {
        max-height: calc(100% - 10vh);
    }

    footer {
        padding: 1.5em 1.5em 5em;
        margin-bottom: 0;
    }

    footer > h3 {
        padding-top: 5px;
    }

    .list-unstyled > li > button, .btn {
        display: none;
    }

    .list-unstyled > li > #so-icon, .list-unstyled > li > #git-icon {
        display: inline-block;
        font-size: 20px;
        padding: 10px 1.5em 10px;
    }

    .regex-tester {
        padding: 0.5em 0.5em 1em;
    }
}

@media (max-width: 375px) {
    .jumbotron {
        margin-bottom: 0.5em;
        padding: 10px 0;
    }

    .jumbotron > h1 {
        font-size: 25px;
    }

    .jumbotron > p {
        font-size: 20px;
    }

    footer > h3 {
        margin-bottom: 0.25em;
        padding-top: 0;
    }

    footer > ul {
        border-bottom: 0.25em;
    }

    .list-unstyled > li > #so-icon, .list-unstyled > li > #git-icon {
        padding: 5px 1em 5px;
        margin: 5px 0;
    }

    .content {
        max-height: calc(100% - 11vh);
    }

    .content-body > h2, .content-body.regex > h2 {
        padding: 0 1em;
    }
}
