body, html {
    height: 100%;
}

#dropdown-menu, .navigation > label {
    display: none;
}

.nav {
    font-size: 20px;
}

.nav > li:first-child {
    padding-left: 3em;
}

.jumbotron {
    margin-bottom: 2em;
}

.content {
    max-height: calc(100% - 8vh);
    overflow: auto;
}

.content-body {
    padding: 1em 5em;
}

.list-unstyled > li {
    padding: 0.25em 0.5em;
}

.list-unstyled > li > button {
    -webkit-filter: brightness(100%);
}

.list-unstyled > li > button:hover {
    -webkit-filter: brightness(70%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

header > div {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.code-name {
    background: none;
    color: inherit;
    border: none;
    padding: 0.5em;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    width: 100%;
    text-align: left;
    font-size: 20px;
}

.content > ul > li > div {
    padding-top: 1em;
    transition: 0.5s;
}

.content > ul > li > div > ul {
    padding-bottom: 0.5em;
}

.code em {
    color: #4e807d;
    font-style: normal;
}

.code {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

pre {
    margin: 2vh 0;
}

footer {
    border-top: 1px solid #ddd;
    padding: 2em 5em;
    position: fixed;
    bottom:0;
    width:100%;
    height: 8vh;
}

footer * {
    margin: 0;
    float: left;
}

footer ul {
    transform: translateY(-0.75em);
}

footer h3 {
    display: inline-block;
    margin: 0 0.5em;
}

.list-group {
    padding-bottom: 1.5em;
}

.list-unstyled > li > button, .btn {
    display: block;
}

.list-unstyled > li > #so-icon, .list-unstyled > li > #git-icon {
    display: none;
}

@media only screen and (max-width: 450px) {

    .navigation > label {
        display: block;
        padding: 5px 15px 10px;
        font-size: 20px;
    }

    li.active > a {
        border: none !important;
    }

    #dropdown-menu:checked ~ ul {
        max-height: 2000px;
    }

    #dropdown-menu ~ ul {
        max-height: 0;
        overflow: hidden;
        transition: max-height 1s ease-in-out;
    }

    .nav > li {
        float: none;
    }

    .nav > li + li {
        margin-top: 2px;
        margin-left: 0
    }

    .nav > li:first-child {
        padding-left: 0;
    }

    .nav > li > a {
        margin-right: 0;
        border-radius: 0;
        border-right: 0 solid transparent;
        border-left: 0 solid transparent;
    }

    .content-body {
        padding: 0;
    }

    .content-body > h2 {
        font-size: 22px;
        padding: 0 0.5em;
    }

    .content {
        max-height: calc(100% - 10vh);
    }

    footer {
        height: 10vh;
        padding: 1em 1.5em 3em;
    }

    footer > h3 {
        padding-top: 5px;
    }

    .list-unstyled > li > button, .btn {
        display: none;
    }

    .list-unstyled > li > #so-icon, .list-unstyled > li > #git-icon {
        display: inline-block;
        font-size: 20px;
        padding: 10px 1.5em 10px;
    }
}

@media only screen and (max-width: 360px) {
    .jumbotron {
        margin-bottom: 0.5em;
        padding: 10px 0;
    }

    .jumbotron > h1 {
        font-size: 25px;
    }

    .jumbotron > p {
        font-size: 20px;
    }

    footer > h3 {
        font-size: 20px;
    }

    .list-unstyled > li > #so-icon, .list-unstyled > li > #git-icon {
        padding: 5px 1em 5px;
        margin: 5px 0;
    }

    footer {
        height: 11vh;
    }

    .content {
        max-height: calc(100% - 11vh);
    }

    .content-body > h2 {
        padding: 0 1em;
    }
}
